asgiref==3.7.2
Django
sqlparse==0.4.4
typing_extensions==4.6.3
gunicorn
scikit-learn==1.0.2
pandas==1.5.3
selenium==4.10.0
beautifulsoup4
requests==2.28.21
matplotlib==3.7.0
xgboost==1.7.6
joblib==1.1.1
picklefield==4.0
